$Colornavar : rgb(1, 18, 112);
$text2: rgb(0, 38, 255);
$textwhite: #fff;
$backgroundresponsive : #222;
$background : rgb(39, 39, 39);
$background2: rgb(0, 0, 0);

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    text-decoration: none !important;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* nav style */
.navbarr{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.navbarr.sticky{
    padding: 10px 0;
    background: $Colornavar;
}

.navbarr .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarr .logo a{
    color: $textwhite;
    font-size: 35px;
    font-weight: 600;
}

.navbarr .logo a span:hover{
    color: $text2;
}

.navbarr.sticky .logo a span:hover{
    transition: all 0.5s ease;
    color: $textwhite;
}

.navbarr .menu li{
    list-style: none;
    display: inline-block;
}

.navbarr .menu li a{
    display: block;
    color: $textwhite;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
    transition: color 0.3s ease;
    transition: all 0.5s ease;
}

.navbarr .menu li a:hover{
    color: $text2;
    font-size: 20px;
    border-bottom: 1px solid $textwhite;
    border-radius: 15%;
}

.navbarr.sticky .menu li a:hover{
    transition: all 0.5s ease;
    border-bottom: none;
    color: $textwhite;
}

/* meno btn */

.menu-btn{
    color: $textwhite;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: $Colornavar;
    left: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: $textwhite;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;    
}

/* home section */
.home{
    display: flex;
    background-image: url('/static/img/fondo.jpg');
    height: 100vh;    
    color: $textwhite;
    min-height: 500px;
}

.home .max-width{
    margin: auto 0 auto 50px;
}

section .home-conten,
.product .product-conten,
.category .category-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.home .home-conten .left img{
    height: 200px;
    width: 400px;      
    object-fit: cover;  
    border-radius: 5%;
}

.home .home-conten .right{
    width: 50%;
}

.home .home-conten .right .text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.home .home-conten .right .text span{
    color: $text2;
}

.home .home-conten .right p{
    text-align: justify;
}

.home .home-conten .right a{
    display: inline-block;
    background: $Colornavar;
    color: $textwhite;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid $Colornavar;
    transition: all 0.5s ease;
}

.home .home-conten .right a:hover{
    color: $text2;
    background: none;

}

.product{
    margin-top: 40px;
    .product-conten{
        .card{
            border: none;
            margin: 15px;
            margin-bottom: 15px;
            transition: all 0.5s ease;
        }
    }    
}

.category{
    margin-top: 40px;
    background-color: $background2;
    height: 100vh;
    overflow-y: auto;
    .card{
        background: none;
        .card-body{
            border-radius: 50px;
        }
    }
    .icoinfo{
        width: 18px;
        height: 18px;
    }
    .ico{
        width: 38px;
        height: 38px;
    }
    .icon{
        width: 38px;
        height: 28px !important;
    }
}

/* responsive style */
@media (max-width: 1300px){ 
    .home .max-width{
        margin-left: 0;
    }
}

@media (max-width: 1104px){ 
    .about .about-conten .left img{
        height: 350px;
        width: 350px;      
    }
}

@media (max-width: 991px){ 
    .max-width{
        padding: 0 50px
    }
}

@media (max-width: 947px){ 
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .navbarr .menu{
        position: fixed;
        height: auto;
        width: 100%;
        left: 0;
        top: -100%;
        background: $backgroundresponsive;
        text-align: center;
        padding-top: 15px;
        transition: all 0.5s ease;
    }

    .navbarr .menu.active{
        top: 0;
    }

    .navbarr .menu li{
        display: block;
    }

    .navbarr .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    
    .max-width{
        max-width: 800px;
    }

    .home .home-conten .column{
        width: 100%;
    }

    .home .home-conten .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .home .home-conten .right{
        flex: 100%;
    }

}

@media (max-width: 690px){ 
    .max-width{
        padding: 0 23px
    }

    .expe .expe-conten .card,
    .skill .skill-content .column{
        width: 100%;
    }
}

@media (max-width: 500px){ 
    .max-width{
        padding: 0 23px
    }

}